@use 'variables';

.articleSection {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 50px;

    .media {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
    }

    .caption {
        color: variables.$tone3;
        font-size: 14px;
    }

    .text a:not(.ctaButton) {
        text-decoration: underline;
    }

    &.LTR {
        flex-direction: row;
    }

    &.RTL {
        flex-direction: row-reverse;
    }

    &.equalWidth {
        & > *:not(.goober) {
            width: 50%;
        }
    }
}

section.centred {
    text-align: center;
}

article {
    padding: variables.$articleMargin;

    & > section {
        margin-top: variables.$articleMargin;
    }
}

.loadSpinner {
    $loaderSize: 60px;
    $loaderBorderSize: 8px;

    border: $loaderBorderSize solid #405c6430;
    border-top: $loaderBorderSize solid variables.$themeBlack;
    border-radius: 50%;
    width: $loaderSize;
    height: $loaderSize;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ctaButton {
    @include variables.dropShadowSmall;
    @include variables.subheadingFont;

    border-radius: variables.$borderRadius;
    background-color: variables.$themeRed;
    
    padding: 16px 25px;
    cursor: pointer;
    color: variables.$primary;
    white-space: nowrap;

    margin: variables.$standardGap 0;
    display: inline-block;

    * {
        margin-right: 8px;
    }

    &:disabled {
        background-color: variables.$tone3;
        cursor: not-allowed;
    }
}

.ctaButton.pill {
    @include variables.bodyFont;
    $btnHeight: 50px;
    
    width: 100%;
    height: $btnHeight;
    padding: 0;
    margin: 0;
    margin-top: 8px;

    border-radius: calc($btnHeight / 2);
    color: variables.$primary;
    box-shadow: none;
}

.available {
    color: #4aa21e;
}

.not-available {
    color: #df1b41;
}

.preorder {
    color: variables.$themeBlue;
}

@media screen and (max-width: 1000px) {
    .articleSection {
        align-items: center;

        &.LTR, &.RTL {
            flex-direction: column;
        }

        &.equalWidth {
            & > *:not(.goober) {
                width: 100%;
            }
        }
    }
}