@use "@root/variables";
$projectIconSize: 1.2em;
$projectIconGap: 5px;

$projectCardGap: 30px;
$projectCardWidth: 250px;
$cardBorderRadius: 5%;


.card-holder {
    display: flex;
    width: 100%;
    align-items: stretch;
    align-content: center;
    gap: $projectCardGap; 
    flex-wrap: wrap;
}
.fa-chevron-right {
    font-size: 12px;
}
.card-button:hover {
    cursor: pointer;
}
.card {
    background-color: white !important;
}
.card-link {
    display: flex;
    align-items: center;
}
.card-link:hover {
    --underline-width: 100%;
}
.guide-icon-arrow {
    height: 12px;
    width: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: $projectIconGap;
}