<!DOCTYPE html>

<html lang="en">
<head>
    <%~ include('@partials/metadata.html') %>
    <title>Teacher Hub - Ro/Box</title>
    <link href="./index.scss" rel="stylesheet">
    <link href="@root/hub.scss" rel="stylesheet">

</head>

<body>
    <%~ include('@partials/header/header.html') %>

    <section class="hero">
        <h1 class="title">
            Teacher Resources
        </h1>

        <div class="heroGoober">
            <img class="shape" src="@images/teacher-hub/heroShape.svg" alt="Decorative hero image shape">
            <img class="eyes" src="@images/eyes.svg" alt="Eyes">
        </div>
    </section>

    <div id="main" class="item-sections">
        
        <section>
            <h1>
                Lesson Plans
            </h1> 
            <div class="card-holder">
                <% Object.values(teacherresources).forEach(function(studentResource) { %>
                    <%~ include('@partials/card.html', {
                        class: "assembly-card",
                        title: `<span>${studentResource.article.previewTitle}</span>`, 
                        imageSource: `${process.env.CMS_URL}${studentResource.article.thumbnail.url}`, 
                        buttons: [
                            {
                                content: `<span class='underline-grow'>${studentResource.article.callToAction || 'Read Resource'}</span> <div class='guide-icon-arrow'><i class='bi bi-chevron-right'></i></div>`,
                                // Slightly weird thing because the slug requires the .html and the file URL does not...
                                link: `${studentResource.article.type === 'article' ? `/articles/${studentResource.article.slug}.html` : `${process.env.CMS_URL}${studentResource.article.File.url}`}`
                            },
                        ],
                        topRowButton: false,
                    }) %>
                <% }) %>
            </div>
        </section>
        
    </div>
    
    <%~ include('@partials/footer/footer.html') %>
</body>
</html>