<!DOCTYPE html>

<html lang="en">
<head>
    <%~ include('@partials/metadata.html') %>
    <title>Teacher Hub - Ro/Box</title>
    <link href="./index.scss" rel="stylesheet">
    <link href="@root/hub.scss" rel="stylesheet">

</head>

<body>
    <%~ include('@partials/header/header.html') %>

    <section class="hero">
        <h1 class="title">
            Teacher Resources
        </h1>

        <div class="heroGoober">
            <img class="shape" src="@images/teacher-hub/heroShape.svg" alt="Decorative hero image shape">
            <img class="eyes" src="@images/eyes.svg" alt="Eyes">
        </div>
    </section>

    <div id="main" class="item-sections">
        
        <section>
            <h1>
                Community Hub
            </h1> 
            <div class="card-holder">
                <% caseStudies.forEach(function(caseStudy) { %>
                    <%~ include('@partials/card.html', {
                        class: "assembly-card",
                        title: `<span>${caseStudy.title}</span>`, 
                        imageSource: `http://localhost:3000${caseStudy.thumbnailURL}` || "@images/teacher-hub/assembly-guide.png", 
                        buttons: [
                            {
                                content: "<span class='underline-grow'>Read Article</span> <div class='guide-icon-arrow'><i class='fa-solid fa-chevron-right'></i></div>",
                                link: `/articles/${caseStudy.slug}.html`
                            },
                        ],
                        topRowButton: false,
                    }) %>
                <% }) %>
            </div>
        </section>
        
    </div>
    
    <%~ include('@partials/footer/footer.html') %>
</body>
</html>