STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
FORCE_CACHE=false


RESEND_KEY=re_...

CMS_URL=http://localhost:3333
WEBSITE_PORT=3000
AUSPOST_KEY=...
AUSPOST_ORIGIN_POSTCODE=3184

