# build output
dist/
build/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

.vscode/
ios/App/build
ios/App/Pods
ios/App/output
ios/App/public
ios/DerivedData
ios/xcuserdata

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
ios/App/capacitor.config.json
ios/App/config.xml
