<link href="@partials/card_templates/card_templates.scss" rel="stylesheet">

<template id="localProjectCardTemplate">
    <%~ include('../card.html', {
        class: "project-card",
        title: '<i class="fa-solid fa-download"></i><span class="card-title-text"></span>', 
        imageSource: "https://placehold.co/1920x1080", 
        descriptions: [
            "2 hours ago", 
        ],
        topRowButton: true,
    }) %>
</template>
<template id="cloudProjectCardTemplate">
    <%~ include('../card.html', {
        class: "project-card",
        title: '<i class="fa-solid fa-cloud-arrow-up"></i><span class="card-title-text"></span>', 
        imageSource: "https://placehold.co/1920x1080", 
        descriptions: [
            "2 hours ago", 
        ],
        topRowButton: true,
    }) %>
</template>
<template id="lessonCardTemplate">
    <%~ include('../card.html', {
        class: "lesson-card",
        title: '<span>Assembly Guide</span>', 
        imageSource: "https://placehold.co/1920x1080", 
        descriptions: [
            "30-45 min",
            "Beginner"
        ],
        topRowButton: false,
    }) %>
</template>
<template id="assemblyGuideCardTemplate">
    <%~ include('../card.html', {
        class: "assembly-card",
        title: '<span>Assembly Guide</span>', 
        imageSource: "https://placehold.co/1920x1080", 
        buttons: [
            {
                content: "<span class='underline-grow'>PDF Build Instructions</span> <div class='guide-icon-arrow'><i class='fa-solid fa-chevron-right'></i></div>",
            },
            {
                content: "<span class='underline-grow'>3D Build Instructions</span> <div class='guide-icon-arrow'><i class='fa-solid fa-chevron-right'></i></div>",
            },
        ],
        topRowButton: false,
    }) %>
</template>
<template id="studentClassroomCardTemplate">
    <%~ include('../card.html', {
        class: "project-card",
        title: '<i class="fa-solid fa-chalkboard-user"></i><span class="card-title-text"></span>', 
    imageColor: 'red', 
        descriptions: [
            "4 Students", 
        ],
        topRowButton: false,
    }) %>
</template>
<template id="teacherClassroomCardTemplate">
    <%~ include('../card.html', {
        class: "project-card",
        title: '<i class="fa-solid fa-person-chalkboard"></i><span class="card-title-text"></span>', 
    imageColor: 'red',
        descriptions: [
            "4 Students", 
        ],
        topRowButton: false,
    }) %>
</template>
<template id="studentCardTemplate">
    <div class="student-item card">
        <div class="student-avatar">
            <img src="https://api.dicebear.com/9.x/bottts/svg?seed=Felix" alt="Classroom Avatar" class="student-avatar">
        </div>
        <div class="student-info">
            <h3 class="student-name">Student Name</h3>
            <h4 class="student-email">student.email@example.com</h4>
        </div>
        <div class="student-status">
            <!-- Status can be dynamically inserted here -->
        </div>
    </div>
</template>
<template id="teacherCardTemplate">
    <div class="classroom-item card">
        <div class="classroom-avatar">
            <img src="https://api.dicebear.com/9.x/bottts/svg?seed=Felix" alt="Classroom Avatar">
        </div>
        <div class="classroom-titles">
            <h3 class="classroom-name">Year 8 DT</h3>
            <h4 class="course-code">06DT-CRTECH01</h4>
        </div>
        <div class="classroom-info pending">
            Pending Request
        </div>
    </div>
</template>