<link href="@partials/user-preview/user-preview.scss" rel="stylesheet">

<div class="user-preview-container">
    <img src="https://api.dicebear.com/9.x/bottts-neutral/svg?seed=Riley&backgroundColor=d81b60,1e88e5&eyes=eva,frame1,frame2,glow,happy,hearts,robocop,round,roundFrame01,roundFrame02,sensor,shade01" alt="User Avatar" class="user-avatar" id="user-avatar">
    <div class="user-info">
        <p class="user-name" id="user-name">Name</p>
        <p class="user-email" id="user-email">email</p>
    </div>
</div>

<script src="@partials/user-preview/user-preview.ts"></script>