<script src="@root/add-students.ts"></script>

<template id="classroomTemplate">
    <div class="classroom-item card">
        <div class="classroom-avatar">
            <img src="https://api.dicebear.com/9.x/bottts/svg?seed=Felix" alt="Classroom Avatar">
        </div>
        <div class="classroom-titles">
            <h3 class="classroom-name">Year 8 DT</h3>
            <h4 class="classroom-code">06DT-CRTECH01</h4>
        </div>
        <div class="classroom-info pending">
            Pending Request
        </div>
    </div>
</template>

<div class="add-students-dialog">
    <div class="add-students-container">
        <div class="input-container">
            <div class="classcode-viewer">
                <div class="digit-box" id="digit-1">1</div>
                <div class="digit-box" id="digit-2">2</div>
                <div class="digit-box" id="digit-3">3</div>
                <div class="digit-box" id="digit-4">4</div>
                <div class="digit-box" id="digit-5">5</div>
                <div class="digit-box" id="digit-6">6</div>
                <div class="digit-box" id="digit-7">7</div>
                <div class="digit-box" id="digit-8">8</div>
            </div>
            <input type="hidden" id="classroom-code-value" name="classroom-code" value="">
            <p id="classroom-code-error-msg" class="error" style="display: none;"></p>
        </div>

        <button id="gen-code-button" class="action-button" style="background-color: #91CC31;">
            Generate Class Code <i class="fa-solid fa-arrow-right"></i>
        </button>
    </div>
    <div class="my-classrooms-container">
        <h2>
            My Classrooms
        </h2>
        <div class="my-classrooms-list">
        </div>
    </div>
</div>