<header>
    <div class="header">
        <nav class="navLinks">
            <a href="/" class="logo">
                <img src="@images/logo-full.svg" alt="Ro/Box Logo">
            </a>
            <div class="navItems">
                <a href="/about">About</a>
                <a href="#contactUs">Contact</a>
            </div>
        </nav>
    
        <div class="ctaButtons">
            <a href="/student" class="btn"><i class="fa-regular fa-compass"></i> Ro/Box Hub</a>
            <a href="/teacher" class="btn"><i class="fa-solid fa-graduation-cap"></i> Teacher Resources</a>
            <a href="/shop" class="btn store">Store</a>

            <a href="/shop/cart" id="cart" style="display: none;">
                <div>
                    <p></p>
                </div>
                <i class="fa-solid fa-cart-shopping"></i>
            </a>

            <a href="/account/login" class="btn login" id="header-login-button">Login</a>
            <a href="/account/settings" class="btn account" id="header-loggedin-button" style="display: none"><i class="fa-solid fa-circle-user"></i><div class="header-username" id="header-username"></div></a>
    
            <button class="hamburger" aria-label="Toggle menu"></button>
        </div>
    </div>

    <div class="hamburgerMenu">
        <a href="/about">About</a>
        <a href="#contactUs">Contact</a>

        <a href="/student" class="btn"><i class="fa-regular fa-compass"></i> Ro/Box Hub</a>
        <a href="/teacher" class="btn"><i class="fa-solid fa-graduation-cap"></i> Teacher Resources</a>

        <a href="/shop" class="btn store">Store</a>

        <a href="/account/login" class="btn login">Login</a>
        <a href="/account/home" id="btn account" style="display: none;"></a>
    </div>
</header>