#toast-holder {
    position: fixed;
    right: 20px;
    height: 100%;
    z-index: 9999;
    display: flex;
    pointer-events: none;
    flex-direction: column-reverse;
    gap: 20px;
    bottom: 20px;
}
$toast-icon-size: 32px;
$toast-max-width: 500px;
.toast {
    background-color: #333;
    color: #fff;
    pointer-events: all;
    padding: 12px 16px;
    border-radius: 4px;
    max-width: $toast-max-width;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: slide-in 0.3s ease-out forwards;
    .toast-header {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        .toast-icon {
            width: $toast-icon-size;
            height: $toast-icon-size;
            margin-right: 8px;
        }
        .toast-title {
            font-weight: bold;
            font-size: 32px;
            margin: 0;
            color: white;
            padding: 0;
        }
        .toast-close-button {
            margin-left: auto;
            
            background: none;
            border: none;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            &:hover {
                color: #ff0000;
            }
            svg {
                height: $toast-icon-size;
            }
        }
    }
    .toast-content {
        font-size: 16px;
        line-height: 1.5;
        color: white;
        text-wrap: wrap;
        font-family: "Nunito", sans-serif;
    }
}

@keyframes slide-in {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}