@use '@root/variables';

h1.title {
    margin: 20px;
}

.manage-classroom-page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

.students-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: variables.$tone2;
    padding: 20px;
    border-radius: variables.$borderRadius;
}