@import 'tailwindcss';

@theme {
    --color-blue: #2588c7;
    --color-green: #91cc31;
    --color-yellow: #ffcd44;
    --color-red: #ff6166;
    --color-black: #405c64;
    /* Colors */
    --color-drop-shadow: #26363b;

    --color-tone1: #f8f8f8;
    --color-tone2: #efefef;
    --color-tone3: #717171;
    --color-tone4: #000000;

    --color-primary: #f8f8f8;
    --color-secondary: #c6c6c6;

    /* Layout */
    --stroke-size: 3px;
    --header-height: 56px;

    --article-margin-standard: 64px;
    --article-margin-small: 32px;

    --standard-gap: 32px;
    --border-radius: 20px;

    /* Buttons */
    --button-padding: 5%;
    --button-font-size: 15px;
    --button-radius: 10px;

    /* font */
    --font-display: 'Nunito', sans-serif;
}
@font-face {
    font-family: 'Nunito';
    src: url('/src/fonts/Nunito/Nunito-VariableFont_wght.ttf')
        format('truetype');
    font-style: normal;
}
@layer components {
    .button-standard {
        @apply text-black font-semibold;
    }
    .box-shadow {
        box-shadow: 6px 6px 0 #26363b;
    }
}
@layer base {
    html {
        @apply font-display bg-primary;
    }
    h1,
    h2,
    h3,
    p,
    li,
    a,
    span {
        @apply text-black;
    }
    p a {
        @apply underline text-blue;
    }
    h1 {
        @apply text-5xl font-extrabold text-black;
    }
    article {
        @apply py-16 px-8;
    }
    dialog::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }
}
* {
    box-sizing: border-box;
}
@layer utilities {
    /* Chrome, Safari, Edge, Opera */
    .no-spinner::-webkit-inner-spin-button,
    .no-spinner::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    .no-spinner {
        -moz-appearance: textfield;
    }
}
