<!DOCTYPE html>
<html lang="en">
<head>
    <%~ include('@partials/metadata.html') %>
    <title>Ro/Box Shop</title>
    <script src="index.ts"></script>
    <link href="index.scss" rel="stylesheet">
    <link href="@root/root.scss" rel="stylesheet">
</head>

<body>
    <%~ include('@partials/header/header.html') %>

    <!-- Hero title -->
    <%~ include('@partials/title-hero/title-hero.html', {
        text: "Shop",
        subtitle: "Check out our Ro/Box product range!",
        image: "@images/shop/hero.jpg",
        useAlt: true
    }) %>
    
    <article>
        <section>
            <h1>Products</h1>

            <div class="productContainer">
                <% Object.values(products).forEach(function(product, index) { %>
                    <a href="/shop/product/<%= product.internalName %>.html">
                        <%~ include('@partials/card.html', {
                            class: "productCard",
                            title: product.name,
                            imageSource: `@images/product/${product.internalName}/thumbnail.jpg`,
                            descriptions: [
                                `<span class="${product.status}">${product.displayStatus}</span>`,
                                product.displayPrice,
                            ],
                            buttons: [
                                {
                                    content: "<button class='ctaButton pill'>View Product</button>",
                                },
                            ],
                            topRowButton: false,
                        }) %>
                    </a>
                <% }) %>
            </div>
        </section>
    </article>
    
    <%~ include('@partials/footer/footer.html') %>
</body>
</html>