<div class="summary">
    <h3>Order ID: <span class="id"></span></h3>
    <h3>Date: <span class="date"></span></h3>

    <table id="products" class="purchase_content" width="100%" cellpadding="0" cellspacing="0">
        <tr id="product-header">
            <th class="purchase_heading row-separate" align="left">
                <p>Item</p>
            </th>
            <th class="purchase_heading row-separate align-center" align="right">
                <p>Quantity</p>
            </th>
            <th class="purchase_heading row-separate" align="right">
                <p>Subtotal</p>
            </th>
        </tr>
        <tr id="total-row">
            <td class="purchase_footer align-left large" valign="middle">
                <p class="purchase_total purchase_total--label">Total</p>
            </td>
            <td class="purchase_footer align-center small" valign="middle"></td>
            <td class="purchase_footer align-right small" valign="middle">
                <p class="total purchase_total"></p>
            </td>
        </tr>
    </table>
</div>