@use '@root/variables';

.password-checklist {
    display: flex;
    flex-direction: column;
    margin-top: 8px;

    .password-requirement {
        font-size: 18px;
        margin: 2px 0;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 8px;

        &.met {
            color: variables.$themeGreen;

            i {
                color: variables.$themeGreen;
            }
        }

        &.unmet {
            color: variables.$themeRed;

            i {
                color: variables.$themeRed;
            }
        }

        .fa-check, .fa-xmark {
            font-size: 16px;
            margin-right: 8px;
        }
    }
}