<link rel="stylesheet" href="@partials/password-checklist/password-checklist.scss">
<div class="password-checklist">
    <p id="password-length" class="password-requirement unmet"><i class="fa-solid fa-xmark"></i><i class="fa-solid fa-check" style="display: none;"></i>At least 8 characters</p>
    <p id="password-uppercase" class="password-requirement unmet"><i class="fa-solid fa-xmark"></i><i class="fa-solid fa-check" style="display: none;"></i>At least one uppercase letter</p>
    <p id="password-lowercase" class="password-requirement unmet"><i class="fa-solid fa-xmark"></i><i class="fa-solid fa-check" style="display: none;"></i>At least one lowercase letter</p>
    <p id="password-number" class="password-requirement unmet"><i class="fa-solid fa-xmark"></i><i class="fa-solid fa-check" style="display: none;"></i>At least one number</p>
    <p id="password-special" class="password-requirement unmet"><i class="fa-solid fa-xmark"></i><i class="fa-solid fa-check" style="display: none;"></i>At least one special character (!@#$%^&*_)</p>
    <!-- <i class="fa-solid fa-check"></i> -->
</div>
<script src="@partials/password-checklist/password-checklist.ts"></script>