<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <div id="metadata"></div>
    <title>Ro/Box Payment Failed</title>
</head>

<body>
    <span class="preheader">
        Your Ro/Box payment on <span class="date"></span> was not processed successfully.
    </span>

    <div id="masthead"></div>

    <h1>Dear <span class="name"></span>,</h1>
    <p>
        We were unable to process your payment
        for your recent order on <span class="date"></span>.
        <br><br>
        Please see your order details below.
    </p>

    <div id="summary"></div>
    
    <div class="billing-details">
        <table>
            <tr>
                <td>
                    <h3>Payment details:</h3>
                </td>
                <td>
                    <p id="billing"></p>
                </td>
            </tr>
        </table>
    </div>

    <table>
        <td>
            <th align="center">
                <a href="https://robox.com.au/shop/cart" class="button">Retry Payment</a>
            </th>
        </td>
    </table>

    <p>
        Please check your payment details and try again.
        If you believe this is a mistake, please contact us at
        <a href="mailto:hello@robox.com.au">hello@robox.com.au</a> for assistance.

        <br><br>

        Cheers,<br>
        The Ro/Box Team
    </p>

    <div id="footer"></div>
</body>

</html>