<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <div id="metadata"></div>
    <title>Your Ro/Box Receipt</title>
</head>

<body>
    <span class="preheader">
        This is the receipt for your recent Ro/Box purchase on <span class="date"></span>.
    </span>

    <div id="masthead"></div>

    <h1>Dear <span class="name"></span>,</h1>
    <p>
        Thank you for your purchase!
        <br><br>
        Please see your order details below.
    </p>

    <div id="summary"></div>

    <div class="billing-details">
        <table>
            <tr>
                <td>
                    <h3>Shipping to:</h3>
                </td>
                <td>
                    <p id="address"></p>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Billed to:</h3>
                </td>
                <td>
                    <p id="billing"></p>
                </td>
            </tr>
        </table>
    </div>

    <p>
        If you have any questions about this receipt,
        simply reply to this email or reach out to us at
        <a href="mailto:hello@robox.com.au">hello@robox.com.au</a> for help.

        <br><br>

        Cheers,<br>
        The Ro/Box Team
    </p>

    <div class="socials">
        <p>Stay up to date with us!</p>
        <hr>
        <table class="socialButtons">
            <tr>
                <th></th>
                <th width="40px" align="center">
                    <a href="https://www.instagram.com/robox.kit" target="_blank"><img src="instagram.png" alt="Instagram"></a>
                </th>
                <th width="40px" align="center">
                    <a href="https://x.com/robox_kit" target="_blank"><img src="x.png" alt="X (formerly Twitter)"></a>
                </th>
                <th width="40px" align="center">
                    <a href="https://www.linkedin.com/company/roboxeducation" target="_blank"><img src="linkedin.png" alt="LinkedIn"></a>
                </th>
                <th></th>
            </tr>
        </table>
    </div>

    <div id="footer"></div>
</body>

</html>